seccion-titulo{
    font-size: 2.5rem;
    padding: 50PX;
    font-family: 'Concert One', cursive;
    text-align: center;
    color:green;
}

.navbar{
padding: 1rem;
align-items: flex-end;
}

.letranavbar {
    font-size: 30px;
    color:gray;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.imagen-navbar {
    padding: 0px 0px 0px 50px;
}



.fondocarrusel{
    /*background-image: url(/img/andreValentino.jpg);*/
    height: 90%;
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel-inner{
    background-image: "../img/trajes.jpg";
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.servicios-imagen{
    height: 800px;
    width:  750px;
    margin: 30px 20px 30px 30px;
    
}

.servicios-imagenUNICA{
    height: 700px;
    width:  700px;
    margin: 20px 30px 20px 30px;
}

.servicios-info {
    font-weight: bold;
    text-align: center;
}

.servicios-info p {
    margin-bottom: 0px;
}

.servicios-info .servicios {
    color: brown ;
    font-size: 4rem;
    font-family: 'Share Tech Mono', monospace;
}

.servicios-info .descripcion-servicios {
    color:black;
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.accordion {
    width: 1200px;
}

.titulo-acordeon {
    color: black;
    font-size: 2rem;
    font-family: 'Arial', bold;

}



.table{ 
    width: 700px;
}


@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .servicios-imagen {
    height: 300px;
    width:  300px;
    margin: 20px 30px 20px 30px;
    
    }
}

@media screen and (max-width: 767px) {
    .servicios-imagenUNICA {
    height: 300px;
    width:  300px;
    margin: 20px 30px 20px 30px;
    
    }
}

@media screen and (max-width: 767px) {
    .navbar-toggler {
        background-color: gray;
    }
}